body {
	font-family: 'Chilanka', cursive;

	background: #003973;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #E5E5BE, #003973);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #E5E5BE, #003973); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {
	background: #2980b9;
	color: white;
	margin: 0;
	padding: 10px 20px;
	text-transform:  uppercase;
	font-size:  24px;
	font-weight: normal;
}

span {
	background: #e74c3c;
	height: 40px;
	margin-right: 20px;
	text-align: center;
	color: white;
	width: 0px;
	display: inline-block;
	transition: 0.2s linear;
	opacity: 0
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	background: #fff;
	height: 40px;
	line-height: 40px;
	color: #666;
}

li:hover span {
	width: 40px;
	opacity: 1.0;
}

li:nth-child(2n){
	background: #f7f7f7;
}

.crossed {
	text-decoration: line-through;
	color: gray;
}

.fa-plus {
	float: right;
}

input {
	color: #2980b9;
	font-size: 18px;
	width: 100%;
	background-color: #f7f7f7;
	box-sizing: border-box;
	padding: 13px 13px 13px 20px;
	border: 3px solid rgba(0,0,0,0);
}

input:focus{
	background: #fff;
	border:  3px solid #2980b9;
	outline: none;

}

#container {
	margin: 100px auto;
	box-shadow: 0 0 3px rgba(0,0,0, 0.1);
	width: 360px;
	background: #f7f7f7;
}

